# Node
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Build
/dist
/build

# Env
.env
.env.*

# Biome
.biomeignore

# VSCode
.vscode/

# Others
*.tsbuildinfo
